@model IEnumerable<BusinessAdvanceManagement.Domain.DTOs.AdvanceRequest.AdvanceRequestListDTO>
@{
    ViewData["Title"] = "GetByWorker";
}
<div class="container-fluid">
    <h1>Geçmiş Avans Taleplerim</h1>
    <div>
        <table class="table table-responsive table-bordered border-dark">
            <thead>
                <tr>
                    <th></th>
                </tr>

            </thead>
            <tbody>


            </tbody>
            <tr>
                <td></td>
            </tr>
        </table>

    </div>


</div>


