@model BusinessAdvanceManagement.Domain.ViewModel.Worker.WorkerLabelVM
@{
    Layout = null;
}

@if (Model != null)
{
    <div>
        <p>@Model.RoleName : @Model.WorkerName @Model.WorkerSurname</p>
        
    </div>
}
